---
import { Image } from "astro:assets";
import portraitImage from "@/assets/images/me/pic_of_me.webp";
import { InventoryGrid } from "@/sections/projects/components/Inventory/InventoryGrid";
import SectionHeader from "@/components/SectionHeader.astro";
---

<section id="projects" class="bg-secondary/10 py-24">
  <SectionHeader title="Projects" subtitle="Inventory" />

  <div class="container-large flex gap-5">
    <div
      class="bg-card border-primary/30 relative w-[250px] rounded-lg border backdrop-blur-sm"
    >
      <div
        class="hero-scanlines pointer-events-none absolute inset-0 opacity-[0.015]"
      >
      </div>

      <div class="m-5">
        <Image
          class="w-full rounded-lg object-cover object-top"
          src={portraitImage}
          alt="Retrato de Daniel Sánchez"
        />
      </div>
    </div>

    <InventoryGrid client:load />
  </div>
</section>
