---
import { Github, Linkedin } from "@lucide/astro";
---

<div
  class="motion-preset-slide-right motion-opacity-in-0 motion-duration-700 motion-delay-500 flex max-w-4xl min-w-0 flex-1 flex-col space-y-3"
>
  <h1 class="font-heading text-4xl tracking-tight md:text-6xl lg:text-7xl">
    <span class="motion-opacity-in-0 motion-duration-500 motion-delay-500"
      >I'm</span
    >
    <span
      class="text-primary motion-opacity-in-0 motion-blur-in-lg motion-duration-700 motion-delay-[0.9s] relative inline-block font-bold"
    >
      Daniel Sánchez
      <span
        class="from-primary via-primary/60 motion-scale-x-in-0 motion-duration-700 motion-delay-[1.2s] absolute right-0 -bottom-1 left-0 h-px origin-left bg-linear-to-r to-transparent"
      ></span>
    </span>
  </h1>
  <h2
    class="font-heading text-accent-foreground mb-7 h-8 text-lg font-semibold tracking-wide md:h-10 md:text-2xl"
  >
    <span aria-hidden="true">&gt; </span><span
      id="role-typing"
      class="typing-caret"
      data-text="Fullstack Developer"
      >Fullstack &amp; Game Developer</span
    >
  </h2>
  <p
    class="motion-opacity-in-0 motion-preset-slide-up motion-duration-700 motion-delay-2000 max-w-[550px] text-balance"
  >
    Crafting immersive experiences with 12+ years of expertise in real-time
    systems, mechanics programming, and technical design.
  </p>
  <p
    class="motion-opacity-in-0 motion-preset-slide-up motion-duration-700 motion-delay-[2.2s] max-w-[550px] text-balance"
  >
    Passionate about pushing the boundaries of interactive entertainment through
    elegant code and creative problem-solving.
  </p>

  <div
    class="motion-opacity-in-0 motion-preset-slide-up motion-duration-700 motion-delay-[2.5s] mt-4 flex gap-3"
  >
    <button
      class="bg-primary text-primary-foreground hover:bg-primary/90 duration-normal drop-shadow-primary/10 group flex w-32 cursor-pointer items-center justify-center gap-1.5 rounded-sm px-7 py-3 text-sm font-medium tracking-wide uppercase drop-shadow-2xl transition-all"
    >
      <Github
        class="h-4 w-4 transition-all duration-150 ease-in-out group-hover:rotate-45"
      />
      <span>GitHub</span>
    </button>
    <button
      class="bg-primary text-primary-foreground hover:bg-primary/90 duration-normal drop-shadow-primary/10 group flex w-32 cursor-pointer items-center justify-center gap-1.5 rounded-sm px-7 py-3 text-sm font-medium tracking-wide uppercase drop-shadow-2xl transition-all"
    >
      <Linkedin
        class="h-4 w-4 transition-all duration-150 ease-in-out group-hover:-rotate-45"
      />
      <span>Linkedin</span>
    </button>
  </div>
</div>
