---
import { ChevronDown } from "@lucide/astro";
---

<div
  class="pointer-events-none absolute bottom-2 flex w-full animate-bounce flex-col items-center justify-center"
>
  <span
    class="motion-opacity-in-0 motion-preset-fade motion-duration-700 motion-delay-[2.2s] font-mono text-xs tracking-widest uppercase opacity-70"
  >
    Scroll
  </span>
  <ChevronDown
    class="motion-opacity-in-0 motion-preset-fade motion-duration-700 motion-delay-[2.2s] h-4 w-4"
  />
</div>
