---
import SectionHeader from "@/components/SectionHeader.astro";
---

<section id="about" class="py-24">
  <SectionHeader title="About" subtitle="Dev Log" />

  <div
    class="bg-card border-primary/30 text-card-foreground container space-y-4 rounded-lg border leading-relaxed"
  >
    <p class="px-8">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus at
      tenetur minus, beatae eaque quia earum sapiente corporis vero. Sunt
      delectus aspernatur doloribus commodi doloremque ad iste, repellat
      architecto fuga? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <p class="px-8">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus at
      tenetur minus, beatae eaque quia earum sapiente corporis vero. Sunt
      delectus aspernatur doloribus commodi doloremque ad iste, repellat
      architecto fuga? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <p class="px-8">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus at
      tenetur minus, beatae eaque quia earum sapiente corporis vero. Sunt
      delectus aspernatur doloribus commodi doloremque ad iste, repellat
      architecto fuga? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </p>
  </div>
</section>
