---
const year = new Date().getFullYear()
---

<div class="flex flex-col items-center gap-2 py-8 border-t border-foreground/30 text-foreground/60 tracking-wider uppercase font-mono text-sm">

    <div class="flex gap-6">
      <span>© {year} Germán Daniel Sánchez Lanza</span>
    </div>
  
    <div class="flex gap-6 text-xs opacity-60">
      <span>My Portfolio</span>
      <span>|</span>
      <span>Build v0.1.0</span>
      <span>|</span>
      <span>Built With Astro</span>
    </div>
  
  </div>