---
import { Settings, Volume2, VolumeX, Globe } from "@lucide/astro";

const navItems = [
  { label: "Home", href: "#hero" },
  { label: "Projects", href: "#projects" },
  { label: "About", href: "#about" },
  { label: "Skills", href: "#skills" },
  { label: "Contact", href: "#contact" },
];
---

<nav
  class="bg-background/80 border-border/50 motion-preset-slide-down motion-opacity-in-0 motion-duration-500 motion-delay-100 fixed inset-x-0 top-0 z-50 flex h-16 w-full items-center justify-between border-b px-8 py-6 font-mono uppercase"
>
  <h1 class="text-primary font-mono text-sm tracking-widest uppercase">
    {"<Dev/>"}
  </h1>
  <ul class="hidden space-x-1.5 md:flex">
    {
      navItems.map((nav) => (
        <li class="font-heading text-muted-foreground hover:text-primary cursor-pointer px-3 py-2 text-sm tracking-wider transition-colors duration-100">
          {nav.label}
        </li>
      ))
    }
  </ul>
  <ul class="flex items-center space-x-2">
    <li
      class="text-muted-foreground hover:text-primary hover:bg-accent h-8 w-8 cursor-pointer content-center rounded transition-colors duration-100"
    >
      <Volume2 class="mx-auto h-4 w-4" />
    </li>
    <li
      class="text-muted-foreground hover:text-primary hover:bg-accent h-8 w-8 cursor-pointer content-center rounded transition-colors duration-100"
    >
      <Globe class="mx-auto h-4 w-4" />
    </li>
    <li
      class="text-muted-foreground hover:text-primary hover:bg-accent h-8 w-8 cursor-pointer content-center rounded transition-colors duration-100"
    >
      <Settings class="mx-auto h-4 w-4" />
    </li>
  </ul>
</nav>
